body {
	background-image: url("/static/background.png");
  	background-repeat: repeat;
  	font-family: 'Urbanist', sans-serif;
  	letter-spacing: 0.5px;
  	font-size: 32px;
  	text-align: center;
}

div.question-card {
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
	margin:  30px auto ;
	padding:  20px 20px;
	width:  400px;
	height:  120px;
	background-color:  white;
	text-align: center;
	box-shadow: 10px 10px #B2B8DC;
}

div.card-content {
	display:  block;
}

div.question-card p {
	margin: 0.4em;
	font-size: 1.2em;
}

div.question-card p.hint {
	font-size: 0.7em;
}

div.answer-card {
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
	margin:  30px 60px;
	padding:  30px 20px;
	text-align: center;
}

div.answer-card#wrong, div.answer-card#wrong:hover {
	background-color:  #FFDAE3;
	box-shadow: 8px 8px #FE95AF;
}

div.answer-card#right, div.answer-card#right:hover {
	background-color:  #DCEFED;
	box-shadow: 8px 8px #A9D7D2;
}

div.answer-card.answer-concealed {
	background-color:  white !important;
	box-shadow: 8px 8px #D7E8F4 !important;
}


div.slanted-button {
	margin:  30px auto ;
	width: 190px;
	background-color:  white;
	text-align: center;
	border: 6px #D9DDE0 solid;
	transform: skew(-20deg);
	display: none;
}

div.slanted-button:hover, div.answer-card:hover {
	background-color:  #F4F4F4;
}

div.slanted-button input, div.slanted-button p {
	background:  none;
	border:  none;
	margin:  15px auto;
	transform: skew(20deg);
	font-family: 'Urbanist', sans-serif;
	font-size: 0.7em;
}

a {
	text-decoration:  none;	
	color:  black;
	padding: 15px 20px;
}


div#nameform input#name {
	margin:  30px auto 0px;
	width: 250px;
	height:  50px;
	transform: translate(10px);
	font-family: 'Urbanist', sans-serif;
	font-size: 0.6em;
	text-align:  center;
}

div#nameform input#name::placeholder {
	font-family: 'Urbanist', sans-serif;
	text-align:  center;
}


#nameform div.slanted-button {
	width:  210px;
	display: block;
}

form {
	margin: 0;
}

div.answer-card.nohover:hover {
	background-color:  #white;
}

