<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@400&display=swap" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/static/unsemantic-grid-responsive.css" />
    <link type="text/css" rel="stylesheet" href="/static/styling.css" />
    <script type="text/javascript" src="/static/behaviour.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>

  </head>
  <body>


    {% block maincontent %}
    {% endblock %}


  </body>
</html>
